@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MabryPro-Regular';
  src: url('../public/fonts/MabryPro-Regular.woff2') format('woff2');
  font-family: 'MabryPro-Bold';
  src: url('../public/fonts/MabryPro-Bold.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
